<a href="https://github.com/ahmetemrekilinc/ember-html-table-to-excel" target="_blank">Github</a>
<a href="https://www.npmjs.com/package/ember-html-table-to-excel" target="_blank">Npmjs</a>
<a href="https://github.com/ahmetemrekilinc/ember-cli-data-export" target="_blank">ember-cli-data-export-with-style</a>

<h1>ember-html-table-to-excel</h1>
{{#generic-demo-page name='Example Usage of Ember Html Table to Excel' files='showcase.hbs,showcase.js'}}
  {{component 'showcase'}}
{{/generic-demo-page}}

{{outlet}}